body{
    overflow-x: hidden !important;
}
img{
    max-width: 100%
}
li{
  list-style: none;
}
.container {
    width: 100%;
}
/*Resize the crollbar*/
body::-webkit-scrollbar{
  width: 8px;

}
/*Styling for the main navigation bar */
header {
    position: sticky;
    top: 0px;
    font-family: 'Roboto';
    height: 48px;
    background: #26A69A;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    width: auto;
    height: 48;
    z-index: 999999999;
}
.item1 img {
    position: absolute;
    width: 116px;
    height: 26px;
    /* left: 50px; */
    left: 3.47%;
    top: 11px;
}
.item2 {
    position: absolute;
    /* width: 166px; */
    width: 11.53%;
    height: 48px;
    font-size: 14px;
    line-height: 16px;
    font-style: normal;
    font-weight: bold;
}
.item2#mytasks {
    /* left: 232px; */
    left: 16.11%;
    background: rgba(255, 255, 255, 0.1);
    text-align: center;
}
#top {
    height: 5.53px;
    background: #4DFFD4;
}
span#task1 {
    position: absolute;
    top: 17px;
    left: 54px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    /* text-align: center; */
}
.item2#teamtasks {
    /* left: 398px; */
    width: 166px;
    height: 48px;
    left: 27.64%;
    background: rgba(255, 255, 255, 0.2);

}
span#task2 {
    position: absolute;
    top: 17px;
    left: 45px;
    color:  #4DFFD4;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px
}
div span#mytasks {
    font-size: 14px;
    line-height: 16px;
    color: #4DFFD4;
}
div span#teamtasks {
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}
.item3 {
    position: absolute;
    /* width: 114px; */
    width: 7.92%;
    /* left: 696px; */
    left: 48.33%;
    height: 48px;
    background-color: rgba(255, 255, 255, 0.1);
}
.item4 {
    position: absolute;
    /* width: 114px; */
    width: 7.92%;
    /* left: 812px; */
    left: 56.39%;
    height: 48px;
    background-color: rgba(255, 255, 255, 0.1);
}
/*Styling for navbar drop down */
.dropdown-content {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    width: 210px;
    height: 402px;
    color: rgba(0, 0, 0, 0.8);
    padding-top: 5px;
    padding-left: 28px;
    
      }
       .dropdown-content div {
          margin-top: 1px;
          cursor: pointer;
      }
.dropdown:hover .dropdown-content {
        display: block;
        
      }
     
      
      .dropdown-content div .left1-sprint {
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        /* identical to box height */
        
        
        color: rgba(0, 0, 0, 0.8);
      }
      .dropdown-content div .right1-sprint {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: rgba(0, 0, 0, 0.5);

      }
      
      .dropdown-content div .left-sprint {
        color: rgba(0, 0, 0, 0.5);
      }
      .dropdown-content div .right-sprint {
        color: rgba(0, 0, 0, 0.2);
      }
/*end of styling for navbar drop down */      
.item5 {
    position: absolute;
    /* width: 114px; */
    width: 7.92%;
    /* left: 928px; */
    left: 64.44%;
    height: 48px;
    background-color: rgba(255, 255, 255, 0.1);
}
.item5 img {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 50px;
    top: 8px;
    bottom: 25px;
    z-index: inherit;
}
.item6 {
    position: absolute;
    /* width: 113px; */
    width: 7.85%;
    /* left: 1044px; */
    left: 72.5%;
    height: 48px;
    background-color: rgba(255, 255, 255, 0.1);
}
.item7 {
    position: absolute;
    /* width: 179px; */
    width: 7.85%;
    /* left: 1159px; */
    left: 81.59%;
    height: 48px;
    background-color: rgba(255, 255, 255, 0.1);
}
.item7 img {
    width: 28px;
    height: 28px;
    margin-top: 10px;
    margin-left: 10px;
}
.item7 #span1{
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
.item7 #span2 {
    color:#4DFFD4;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}
.item8 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 3px;
}
.item8 #img1 {
width: 20px;
height: 20px;
margin-top: 14px;

}
.item8 #img2 {
    width: 20px;
    height: 20px;    
    margin-top: 14px;
}
.item8 #img3 {
    width: 20px;
    height: 20px;    
    margin-top: 14px;
    
}
#span1 {
    position: absolute;
    width: 39px;
    height: 15px;
    top: 8px;
    left: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.8);
}
#span2 {
    position: absolute;
    width: 104px;
    height: 15px;
    left: 10px;
    top: 28px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.8);
}
.item4 #span1 {
    width: 49px;
}
.item7 {
    display: flex;
    width: 179px;
    height: 48px;
    margin-right: 150px;
    margin-left: -20px;

}
.item7 #span1 {
    left: 48px;
    width: 117px;
    height: 17px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}
.item7 #span2 {
    left: 48px;
    width: 117px;
    height: 15px;
    margin-right: 90px;
}
.item8 {
    
    margin-left: 20px;
    display: flex;
    margin-right: 21.18px;
    justify-content: flex-end;
}
.item8 #img1 {
    margin-left: 20px;
    width: 20px;
    height: 20px;
}
.item8 #img2 {
    margin-left: 20px;
    width: 20px;
    height: 20px;
}
.item8 #img3 {
    width: 20px;
    height: 20px;
}

/*End of styling for the main navigation bar */

/*Styling for the body*/
.body {
    padding: 0px;
    margin: 0px; 
}
.main_wrapper{
    max-width: 2000px;
}
.body .main_wrapper .home_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin-right: 350px;
}
/*Styling for left/main column */
.main_wrapper .home_wrapper .left-body{
    flex: 3;
    padding: 50px 10px;
}
.main_wrapper .home_wrapper .left-body .cards{
  margin-top: 20px;
  display: flex;
}

/*Styling for second sub-navigation bar */
.main_wrapper .home_wrapper .left-body .sub-nav{
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
}
.main_wrapper .home_wrapper .left-body  .sub-navbar-1 {
  background: rgba(255, 76, 109, 0.1);
}
.main_wrapper .home_wrapper .left-body  .sub-navbar-1  .author{
  color: #FF4D6D !important;
}
.main_wrapper .home_wrapper .left-body  .sub-navbar-2 {
  background: rgba(89, 187, 30,.1);
}
.main_wrapper .home_wrapper .left-body  .sub-navbar-2  .author{
  color: #59BB1E !important;
}
.main_wrapper .home_wrapper .left-body  .sub-navbar-2 .des div{
  background-color: #59BB1E
}
.main_wrapper .home_wrapper .sub-nav .author {
  display: flex;
  align-items: center;
  flex: 4;    
}
.main_wrapper .home_wrapper .sub-nav .author .img {
    width: 30px;
    overflow: hidden;
    height: 30px;  
    border-radius: 100%;
    border: 1.5px solid #ff5555;
    align-self: center;  
    margin-right: 10px;
}
.main_wrapper .home_wrapper .sub-nav .author .img img{
  max-width: 100%;
  position: relative;
  border: none;

}
.main_wrapper .home_wrapper .sub-nav .author  p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    width: 187px;
    height: 10px;
    margin-top: -3px;

}
.main_wrapper .home_wrapper .sub-nav  .author p span {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #808080;
}
.main_wrapper .home_wrapper .sub-nav .des{
  display: flex;
  justify-content: space-around;
  align-items: center;    
  flex: 1;                                      
}
.main_wrapper .home_wrapper .sub-nav .des > div{
    border-radius: 5px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    background: #FF4C6D;     
    margin: 0px 5px;                                     
}
.main_wrapper .home_wrapper .sub-nav .des > div img{
   width: 20px;
   height: 20px;                                            
}

   
    
   /*Cards styling */

  .cards {
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       justify-content: stretch;
       align-items: flex-start;
   } 
  .cards > div{
       margin: 10px;
       max-width: 200px;
       box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
       background: rgba(255, 255, 255, 0.5);
       border-radius: 10px;
       border-top: 10px solid #59BB1E;
       align-self: flex-start;
       padding: 10px;
    } 
    .card > div > div{
      width: 100%;
      box-sizing: border-box;
      background: #FFFFFF;
      border: 1px solid rgba(0, 0, 0, 0.1);
      padding: 10px;
      box-sizing: border-box;
      border-radius: 5px;
      margin-bottom: 20px;
      box-shadow: 0px 5px 10px rgba(0,0,0,.3);
      position: relative;
    }
     .card .badge{
        height: 23px;
        width: 23px;
        font-size: 10px;
        background-color: #C90000;
        color: #fff;
        text-align: center;
        padding: 5px;
        position: absolute;
        top: -10px;
        left: -10px;
        border-radius: 100%;
        box-sizing: border-box;
     }
    .card > div h4{
      text-align: center;
    }
    .card > div > .inner-card p{
      font-family: 'Roboto';
      font-size: 14px;
      color: rgba(0, 0, 0, 0.8);
    }
    .card > div > div img{
       width: 13px;
       height: 13px;
       cursor: pointer;
       padding-left: 5px;
    }
    .card .action{
      display: flex;
      justify-content: space-between;
    }
    .card .action li{
      margin: 0px 5px;
    }

   /*Styling for the edit modal */
   .card .card-1 .inner-card .edit{
       display: none;
       
   }
   .edit {
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    left: 0;
    top: 0;
   }
    .edit-content {
    width: 621px;
    height: 309px;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    left: 15%;
    right: 20%;
    top: 6%;
    position: relative;
    z-index: 1; /* Sit on top */
   }
     
    .edit .edit-content .navbar {
        background: rgba(0, 0, 0, 0.1);
        width: 621px;
        height: 42px;
        margin-right: 5px;
                
   }
    .edit .edit-content .navbar .nav-element{
       margin-top: -2px;
   }
   .edit-content .navbar img {
    width: 22px;
    height: 22px;
}
   
   /* Modal */

.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    z-index: 99999999;
  }
  .modal .modal-content {
      border-radius: 10px;
      max-width: 80%;
      height: 70vh;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      overflow-y: scroll;
      overflow-x: hidden;
      z-index: 1; /* Sit on top */
  }
  .modal .modal-content .container {
      width: 100%;
      padding: 20px;
      display: flex;
      flex-direction: row;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;      
  }
 
  .container .left .card-left {
    padding: 10px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 212px;
    height: 240px;    
    flex: 1;
        
  }
  .container .left .card-left p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.8);
  }
  .container .left .card-left img {
      width: 100%;
      height: auto;
      margin-top: 15px;
  }
  .container .modal-content .main-content {
      flex: 3;
      border: 1px solid red;
      margin-left: 20px; 
  }
  .container .modal .main-content h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #26A69A;
    text-align: center;
  }
  .modal .main-content .content .write-up{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-bottom: 50px;
  }
  .modal .main-content .content .write-up .connector{
      height: 35px;
      width: 35px;
      border-radius: 100%;
      background: #4DFFD4;
      margin-right: 10px;
  }
  .modal .main-content .content .write-up .timeline:before {
      content: " ";
      position: absolute;
      left: -27px;
      top: 38px;
      height: 100px;
      width: 1px;
      background: #ccc;
  }
  .modal .main-content .content .write-up .timeline{
    display: flex;
    flex-direction: column;
    position: relative;
  }
   .modal .main-content .content .write-up .timeline p{
      font-weight: 600;
      font-size: 12px;
   }
    .modal .main-content .content .write-up .timeline .by{
      font-size: 12px;
      font-weight: bold;
    }
     .modal .main-content .content .write-up .timeline  .dev{
      margin: 5px 0px;
     }
    .modal .main-content .content .write-up .timeline  .stat{
      display: flex;
      font-weight: normal;
    }
    .modal .main-content .content .write-up .timeline .stat > p{
      margin: 0px 5px;
    }
  /* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  /*End of modal styling */

   /*Styling for lower inner card */
   .card .card-1 .inner-card-2 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 212px;
    height: 218px;
    background: #FFFFFF;
    border: 1px solid rgba(144, 255, 76, 0.25);
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 10px;
   }
   .card .card-1 .inner-card-2 p {
    width: 192px;
    height: 165px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin-left: 9px;
    color: rgba(0, 0, 0, 0.8);
   }
   .card .card-1 .inner-card-2 div{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: rgba(0, 0, 0, 0.5);
    margin-left: 9px;
    margin-top: -35px;  
   }
   .card .card-1 .inner-card-2 .pen {
    width: 13px;
    height: 13px;
    margin-left: 10px;       
    cursor: pointer;
}
.card .card-1 .inner-card-2 div .cop {
 width: 13px;
 height: 13px;
 margin-left: 40px;    
 cursor: pointer;
 
}
.card .card-1 .inner-card-2 div .mov {
 width: 16px;
 height: 16px;
 margin-left: 15px; 
 cursor: pointer;
}

   /*Styling for second card */
   .card .card-2 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 232px;
    height: 1091px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    border-top: 10px solid #59BB1E;
    
    
}
.card .card-2 h4 {
    text-align: center;
    font-style: normal;
     font-weight: bold;
     font-size: 14px;
     line-height: 16px;
     color: #333333;
}
.card .card-2 .card-2-inner {
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 width: 212px;
 height: 170px;
 background: #FFFFFF;
 border: 1px solid rgba(144, 255, 76, 0.25);
 border-radius: 5px;
 margin-left: 10px;
}

.card .card-2 .card-2-inner p {
 font-style: normal;
 font-weight: normal;
 font-size: 14px;
 font-family: 'Roboto';
 line-height: 16px;
 margin-left: 9px;
 color: rgba(0, 0, 0, 0.8);
 width: 192px;
 height: 115px;
}
.card .card-2 .card-2-inner div{
 font-style: normal;
 font-weight: normal;
 font-size: 11px;
 line-height: 13px;
 color: rgba(0, 0, 0, 0.5);
 margin-left: 9px;
 margin-top: -14px;
}
.card .card-2 .card-2-inner .pen {
    width: 13px;
    height: 13px;
    margin-left: 10px;       
    cursor: pointer;
}
/*modal styling */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
}
.overlay .cancel {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: default;
  }
  
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }

  
  /*End of modal styling */
 .edit .edit-content {
    display: none;
}
.card .card-2 .card-2-inner div .cop {
 width: 13px;
 height: 13px;
 margin-left: 40px;    
 cursor: pointer;
}
.card .card-2 .card-2-inner div.click-up span {display: none; width: 40px; background:black; color: #FFFFFF; }
   .card .card-2 .card-2-inner div.click-up:hover span {display: block; }
.card .card-2 .card-2-inner div .mov {
 width: 16px;
 height: 16px;
 margin-left: 15px; 

}


.card .card-2 .card-2-inner-2 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 212px;
    height: 69px;
    background: #FFFFFF;
    border: 1px solid rgba(144, 255, 76, 0.25);
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 10px;
   }
   .card .card-2 .card-2-inner-2 p {
    font-style: normal;
    font-weight: normal;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 16px;
    margin-left: 9px;
    margin-top: 7px;
    color: rgba(0, 0, 0, 0.8);
   }
   .card .card-2 .card-2-inner-2 div {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: rgba(0, 0, 0, 0.5);
    margin-left: 9px;
    margin-top: 22px;   
   }
   .card .card-2 .card-2-inner-2 .pen {
    width: 13px;
    height: 13px;
    margin-left: 10px;
           
}
.card .card-2 .card-2-inner-2 div .cop {
 width: 13px;
 height: 13px;
 margin-left: 40px;    
 
}
.card .card-2 .card-2-inner-2 div .mov {
 width: 16px;
 height: 16px;
 margin-left: 15px; 

}


   .card .card-2 .card-2-inner-3 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 212px;
    height: 351px;
    background: #FFFFFF;
    border: 1px solid rgba(144, 255, 76, 0.25);
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 20px;
   }
   
   .card .card-2 .card-2-inner-3 p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin-left: 9px;
    color: rgba(0, 0, 0, 0.8);
    width: 192px;
    height: 115px;
   }
   .card .card-2 .card-2-inner-3 div{
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: rgba(0, 0, 0, 0.5);
    margin-left: 9px;
    margin-top: 35px;
   }
   .card .card-2 .card-2-inner-3 .pen {
    width: 13px;
    height: 13px;
    margin-left: 10px;       
}
.card .card-2 .card-2-inner-3 div .cop {
 width: 13px;
 height: 13px;
 margin-left: 40px;    
 
}
.card .card-2 .card-2-inner-3 div .mov {
 width: 16px;
 height: 16px;
 margin-left: 15px; 

}
   .card .card-2 .card-2-inner-4 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 212px;
    height: 351px;
    background: #FFFFFF;
    border: 1px solid rgba(144, 255, 76, 0.25);
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 20px;
   }
   
   .card .card-2 .card-2-inner-4 p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin-left: 9px;
    color: rgba(0, 0, 0, 0.8);
    width: 192px;
    height: 115px;
   }
   .card .card-2 .card-2-inner-4 div{
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: rgba(0, 0, 0, 0.5);
    margin-left: 9px;
    margin-top: 35px;
   }
   .card .card-2 .card-2-inner-4 .pen {
    width: 13px;
    height: 13px;
    margin-left: 10px;       
}
.card .card-2 .card-2-inner-4 div .cop {
 width: 13px;
 height: 13px;
 margin-left: 40px;    
 
}
.card .card-2 .card-2-inner-4 div .mov {
 width: 16px;
 height: 16px;
 margin-left: 15px; 

}
   
   
   /*Styling for third card */
   .card .card-3 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 232px;
    height: 228px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    border-top: 10px solid #59BB1E;
    margin-left: 21px;
    
}
.card .card-3 h4 {
    text-align: center;
    font-style: normal;
     font-weight: bold;
     font-size: 14px;
     line-height: 16px;
     color: #333333;
}
.card .card-3 .card-3-inner {
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 width: 212px;
 height: 138px;
 background: #FFFFFF;
 border: 1px solid rgba(144, 255, 76, 0.25);
 border-radius: 5px;
 margin-left: 10px;
}

.card .card-3 .card-3-inner p {
 font-style: normal;
 font-weight: normal;
 font-family: 'Roboto';
 font-size: 14px;
 line-height: 16px;
 margin-left: 9px;
 color: rgba(0, 0, 0, 0.8);
 width: 192px;
 
}
.card .card-3 .card-3-inner div{
 font-style: normal;
 font-weight: normal;
 font-size: 11px;
 line-height: 13px;
 color: rgba(0, 0, 0, 0.5);
 margin-left: 9px;
 margin-top: 48px;
}
.card .card-3 .card-3-inner .pen {
    width: 13px;
    height: 13px;
    margin-left: 10px;       
}
.card .card-3 .card-3-inner div .cop {
 width: 13px;
 height: 13px;
 margin-left: 40px;    
 
}
.card .card-3 .card-3-inner div .mov {
 width: 16px;
 height: 16px;
 margin-left: 15px; 

}
   
/*Styling for fourth card */
.card .card-4 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 232px;
    height: 576px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    border-top: 10px solid #59BB1E;
    margin-left: 21px;
}
.card .card-4 h4 {
    text-align: center;
    font-style: normal;
     font-weight: bold;
     font-size: 14px;
     line-height: 16px;
     color: #333333;
}
.card .card-4 div {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
    margin-left: 9px;
    margin-top: 20px;
    
}
.card .card-4 .card-4-inner {
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 width: 212px;
 height: 240px;
 background: #FFFFFF;
 border: 1px solid rgba(144, 255, 76, 0.25);
 border-radius: 5px;
 margin-left: 10px;
}
.card-4 .card-4-inner img{
    width: 192px;
    height: 96px;
    margin-top: 10px;
}
.card .card-4 .card-4-inner p {
 font-style: normal;
 font-weight: normal;
 font-size: 14px;
 line-height: 16px;
 margin-left: 9px;
 color: rgba(0, 0, 0, 0.8);
 width: 192px;
 height: 79px;
}
.card .card-4 .card-4-inner div{
 font-style: normal;
 font-weight: normal;
 font-size: 11px;
 line-height: 13px;
 color: rgba(0, 0, 0, 0.5);
 margin-left: 9px;
 margin-top: 110px;

}
.card .card-4 .card-4-inner .pen {
    width: 13px;
    height: 13px;
    margin-left: 10px;       
}
.card .card-4 .card-4-inner div .cop {
 width: 13px;
 height: 13px;
 margin-left: 40px;    
 
}
.card .card-4 .card-4-inner div .mov {
 width: 16px;
 height: 16px;
 margin-left: 15px; 

}
   
   
.card .card-4 .card-4-inner-2 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 212px;
    height: 200px;
    background: #FFFFFF;
    border: 1px solid rgba(144, 255, 76, 0.25);
    border-radius: 5px;
    margin-left: 10px;
}
.card .card-4 .card-4-inner-2 p {
    width: 192px;
    height: 147px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin-left: 9px;
    color: rgba(0, 0, 0, 0.8);
}
.card .card-4 .card-4-inner-2 div {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: rgba(0, 0, 0, 0.5);
    margin-left: 9px;
    margin-top: -15px;
}
.card .card-4 .card-4-inner-2 .pen {
    width: 13px;
    height: 13px;
    margin-left: 10px;       
}
.card .card-4 .card-4-inner-2 div .cop {
 width: 13px;
 height: 13px;
 margin-left: 40px;    
 
}
.card .card-4 .card-4-inner-2 div .mov {
 width: 16px;
 height: 16px;
 margin-left: 15px; 

}

/*Styling for the right column/chatbox */
.main_wrapper .home_wrapper .right-body::-webkit-scrollbar{
  width: 5px;
  background-color: #aaaaaa;
  border-radius: 50px;
}
.main_wrapper .home_wrapper .right-body::-webkit-scrollbar-thumb{
  background-color: #eee;  
  border-radius: 50px;                                                        
}
.main_wrapper .home_wrapper .right-body {
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 0px;
    right: 0px;
    background: #343434;
    padding: 20px;
    overflow-y: scroll;
    font-family: 'Roboto';
}
.main_wrapper .home_wrapper .right-body  > div{
    width: 100%;   
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px; 
    margin: 10px 0px;                                           
}
.main_wrapper .home_wrapper .right-body  > div > div{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;    
    margin-bottom: 8px;                                                 
}
.main_wrapper .home_wrapper .right-body .notice{
   color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    line-height: 14px;
    margin: 10px 0px;
    text-align: center;
}
.main_wrapper .home_wrapper .right-body  > div p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin-top: -1px;
    margin-left: 9px;
    color: #FFFFFF;                                                 
}
.main_wrapper .home_wrapper  .right-body >  div .author {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center; 
    padding-left: 8px;   
}

/*COlors For each author*/
.main_wrapper .home_wrapper  .right-body .first-right .author{
    color: #4DFFD4 !important;                                                             
}
.main_wrapper .home_wrapper  .right-body .second-right .author{
    color: #FF4D6D !important;                                                             
}
.main_wrapper .home_wrapper  .right-body .third-right .author{
    color: #59BB1E !important;                                                             
}
.main_wrapper .home_wrapper  .right-body .fourth-right .author{
    color: #4DFFD4 !important;                                                             
}

.main_wrapper .home_wrapper  .right-body  div .timeStamp{
   color:  rgba(255, 255, 255, 0.5) !important;
   font-size: 12px;                                                              
}
.main_wrapper .home_wrapper  .right-body form {
  margin: 20px 0px 50px 0px;
}
.main_wrapper .home_wrapper  .right-body textarea{
    width: 100%;
    height: 80px;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 10px;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
    font-family: "Roboto";
    color: #eee;
}
.main_wrapper .home_wrapper  .right-body ::-webkit-input-placeholder {
    font-family: "Roboto";                                                                   
    font-size: 14px;
    font-family: inherit;
    color: rgba(255, 255, 255, 0.5);
}
.main_wrapper .home_wrapper  .right-body form button{
    padding: 10px 20px;
    width: 30%;
    border: none;
    border-radius: 3px;
    background-color: #222;
    color: #ddd;
    margin-top: 5px;
    cursor: pointer;

}
.main_wrapper .home_wrapper  .right-body form button:hover{
  opacity: .8                                                           
}