.container {
    width: 100%;
    }

/*Styling for the main navigation bar */
.topnav {
    position: absolute;
    font-family: 'Roboto';
    height: 48px;
    left: 0px;
    right: 0px;
    top: 0px;
    background: #26A69A;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    width: auto;
    height: 48;
}
.item1 img {
    position: absolute;
    width: 116px;
    height: 26px;
    /* left: 50px; */
    left: 3.47%;
    top: 11px;
}
.item2 {
    position: absolute;
    /* width: 166px; */
    width: 11.53%;
    height: 48px;
    font-size: 14px;
    line-height: 16px;
    font-style: normal;
    font-weight: bold;
}
.item2#mytasks {
    /* left: 232px; */
    left: 16.11%;
    background: rgba(255, 255, 255, 0.1);
    text-align: center;
}
#top {
    height: 5.53px;
    background: #4DFFD4;
}
span#task1 {
    position: absolute;
    top: 17px;
    left: 54px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    /* text-align: center; */
}
.item2#teamtasks {
    /* left: 398px; */
    width: 166px;
    height: 48px;
    left: 27.64%;
    background: rgba(255, 255, 255, 0.2);

}
span#task2 {
    position: absolute;
    top: 17px;
    left: 45px;
    color:  #4DFFD4;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px
}
div span#mytasks {
    font-size: 14px;
    line-height: 16px;
    color: #4DFFD4;
}
div span#teamtasks {
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}
.item3 {
    position: absolute;
    /* width: 114px; */
    width: 7.92%;
    /* left: 696px; */
    left: 48.33%;
    height: 48px;
    background-color: rgba(255, 255, 255, 0.1);
}
.item4 {
    position: absolute;
    /* width: 114px; */
    width: 7.92%;
    /* left: 812px; */
    left: 56.39%;
    height: 48px;
    background-color: rgba(255, 255, 255, 0.1);
}
/*Styling for navbar drop down */
.dropdown-content {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    width: 210px;
    height: 402px;
    color: rgba(0, 0, 0, 0.8);
    padding-top: 5px;
    padding-left: 28px;
    
      }
       .dropdown-content div {
          margin-top: 1px;
          cursor: pointer;
      }
.dropdown:hover .dropdown-content {
        display: block;
        
      }
     
      
      .dropdown-content div .left1-sprint {
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        /* identical to box height */
        
        
        color: rgba(0, 0, 0, 0.8);
      }
      .dropdown-content div .right1-sprint {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: rgba(0, 0, 0, 0.5);

      }
      
      .dropdown-content div .left-sprint {
        color: rgba(0, 0, 0, 0.5);
      }
      .dropdown-content div .right-sprint {
        color: rgba(0, 0, 0, 0.2);
      }
/*end of styling for navbar drop down */      
.item5 {
    position: absolute;
    /* width: 114px; */
    width: 7.92%;
    /* left: 928px; */
    left: 64.44%;
    height: 48px;
    background-color: rgba(255, 255, 255, 0.1);
}
.item5 img {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 50px;
    top: 8px;
    bottom: 25px;
    z-index: inherit;
}
.item6 {
    position: absolute;
    /* width: 113px; */
    width: 7.85%;
    /* left: 1044px; */
    left: 72.5%;
    height: 48px;
    background-color: rgba(255, 255, 255, 0.1);
}
.item7 {
    position: absolute;
    /* width: 179px; */
    width: 7.85%;
    /* left: 1159px; */
    left: 81.59%;
    height: 48px;
    background-color: rgba(255, 255, 255, 0.1);
}
.item7 img {
    width: 28px;
    height: 28px;
    margin-top: 10px;
    margin-left: 10px;
}
.item7 #span1{
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
.item7 #span2 {
    color:#4DFFD4;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}
.item8 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 3px;
}
.item8 #img1 {
width: 20px;
height: 20px;
margin-top: 14px;

}
.item8 #img2 {
    width: 20px;
    height: 20px;    
    margin-top: 14px;
}
.item8 #img3 {
    width: 20px;
    height: 20px;    
    margin-top: 14px;
    
}
#span1 {
    position: absolute;
    width: 39px;
    height: 15px;
    top: 8px;
    left: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.8);
}
#span2 {
    position: absolute;
    width: 104px;
    height: 15px;
    left: 10px;
    top: 28px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.8);
}
.item4 #span1 {
    width: 49px;
}
.item7 {
    display: flex;
    width: 179px;
    height: 48px;
    margin-right: 150px;
    margin-left: -20px;

}
.item7 #span1 {
    left: 48px;
    width: 117px;
    height: 17px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}
.item7 #span2 {
    left: 48px;
    width: 117px;
    height: 15px;
    margin-right: 90px;
}
.item8 {
    
    margin-left: 20px;
    display: flex;
    margin-right: 21.18px;
    justify-content: flex-end;
}
.item8 #img1 {
    margin-left: 20px;
    width: 20px;
    height: 20px;
}
.item8 #img2 {
    margin-left: 20px;
    width: 20px;
    height: 20px;
}
.item8 #img3 {
    width: 20px;
    height: 20px;
    
}

/*End of styling for the main navigation bar */

/*Styling for the body*/
.body {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
}
/*Styling for left/main column */
.left-body {
    width: 78%;
}
/*Styling for second sub-navigation bar */
.sub-navbar-1 {
    width: 994px;
    height: 55px;
    background: rgba(255, 76, 109, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 30px;
    margin-top: 72.47px;
    align-items: center;
    }
    .sub-navbar-1 img {
        width: 25px;
        height: 34px;
        box-sizing: border-box;
        padding-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        
    }
    .sub-navbar-1 p{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        color: #FF4D6D;
        width: 187px;
        height: 10px;
        margin-top: -3px;
    
    }
    .sub-navbar-1 p span {
        width: 137px;
        height: 10px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        display: flex;
        align-items: center;
        color: #808080;
        
    }
    .sub-navbar-1 .add {
        background: #FF4C6D;
        border-radius: 5px;
        width: 32px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 593px;
    }
    .sub-navbar-1 .add img{
        width: 30px;
        height: 32px;
    }
    
    .sub-navbar-1 .brief {
        background: #FF4C6D;
        border-radius: 5px;
        width: 32px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px; 
    }
    .sub-navbar-1 .brief img{
        width: 30px;
        height: 32px;
    }
/*Styling for second sub-navigation bar */
.sub-navbar {
    width: 994px;
    height: 55px;
    background: rgba(89, 187, 30, 0.1);
    border-radius: 9px 9px 0px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 30px;
    margin-top: 20px;
    align-items: center;
    }
    .sub-navbar img {
        width: 25px;
        height: 34px;
        box-sizing: border-box;
        padding-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        
    }
    .sub-navbar p{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        color: #59BB1E;
        width: 187px;
        height: 10px;
        margin-top: -3px;
    
    }
    .sub-navbar p span {
        width: 137px;
        height: 10px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        display: flex;
        align-items: center;
        color: #808080;
        
    }
    .sub-navbar .add {
        background: #59BB1E;
        border-radius: 5px;
        width: 32px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 593px;
    }
    .sub-navbar .add img{
        width: 30px;
        height: 32px;
    }
    
    .sub-navbar .brief {
        background: #59BB1E;
        border-radius: 5px;
        width: 32px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px; 
    }
    .sub-navbar .brief img{
        width: 30px;
        height: 32px;
    }
    
   /*Cards styling */
   .card {
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       justify-content: center;
       margin-top: -5px;

   } 
   .card .card-1 {
       box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
       width: 232px;
       height: 433px;
       background: rgba(255, 255, 255, 0.5);
       border-radius: 10px;
       border-top: 10px solid #59BB1E;
       margin-left: 3px;
       margin-right: 21px;
       
   }
   .card .card-1 h4 {
       text-align: center;
       font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
   }
   .card .card-1 .card-1-inner {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 212px;
    height: 105px;
    background: #FFFFFF;
    border: 1px solid rgba(144, 255, 76, 0.25);
    border-radius: 5px;
    margin-left: 10px;
   }

   .card .card-1 .card-1-inner p {
    width: 192px;
    height: 50px;
    font-style: normal;
    font-weight: normal;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 16px;
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.8);
   }
   .card .card-1 .card-1-inner div {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: rgba(0, 0, 0, 0.5);
    margin-left: 9px;
    margin-top: -19px;
    
   }
   .card .card-1 .card-1-inner .pen {
       width: 13px;
       height: 13px;
       margin-left: 10px;       
       cursor: pointer;
   }
   /*Adding a text tool tip */
   
  
   .card .card-1 .card-1-inner div .cop {
    cursor: pointer;
    width: 13px;
    height: 13px;
    margin-left: 40px;    
    
   }
   .card .card-1 .card-1-inner div .mov {
    width: 16px;
    height: 16px;
    margin-left: 15px; 
    cursor: pointer;

   }

   /*Styling for the edit modal */
   .card .card-1 .card-1-inner .edit{
       display: none;
       
   }
   .edit {
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    left: 0;
    top: 0;
   }
    .edit-content {
    width: 621px;
    height: 309px;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    left: 15%;
    right: 20%;
    top: 6%;
    position: relative;
    z-index: 1; /* Sit on top */
   }
     
    .edit .edit-content .navbar {
        background: rgba(0, 0, 0, 0.1);
        width: 621px;
        height: 42px;
        margin-right: 5px;
                
   }
    .edit .edit-content .navbar .nav-element{
       margin-top: -2px;
   }
   .edit-content .navbar img {
    width: 22px;
    height: 22px;
}
   
   /* Modal */
   /* The Modal (background) */
   .card .card-1 .card-1-inner .modal {
    display: none;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    margin-top: 6%;
    left: 0;
    top: 0;
    display: flex;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  .modal .modal-content {
      border-radius: 10px;
      width: 900px;
      height: 731px;
      left: 15%;
      right: 20%;
      top: 6%;
      position: relative;
      z-index: 1; /* Sit on top */
  }
  .modal .modal-content .container {
      width: 900px;
      height: 400px;
      display: flex;
      flex-direction: row;
      
  }
  .container .left{
   width: 158px;
   height: 700px;   
  }
  .container .left .card-left {
    position: relative;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 212px;
    height: 240px;
    top: 2.7%;
    left: -20px;
    
        
  }
  .container .left .card-left p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    margin-top: 10px;
  }
  .container .left .card-left img {
      width: 192px;
      height: 96px;
      margin-top: 15px;
      margin-left: 10px;
  }
  .container .left .card-left div {
      margin-top: 19px;
  }
  .container .main-content {
      width: 742px;
      height: 700px;
  }
  .container .main-content h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #26A69A;
    margin-left: -440px;
    border-radius: 10px;
    margin-top: -1px;
  }
  .main-content .content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
  }
  .main-content .content img{
      margin-left: 80px;
      margin-top: 23px;
      height: 580px;
  }
  .main-content .content .el { 
    width: 17px;
    height: 17px;
    margin-left: -9px;
    margin-top: 41px;
}

.main-content .content .el-2 {
    width: 17px;
    height: 17px;
    margin-left: -15px;
    margin-top: 186px;
}

.main-content .content .el-3 {
    width: 17px;
    height: 17px;
    margin-left: -17px;
    margin-top: 326px;
}

.main-content .content .el-4 {
    width: 17px;
    height: 17px;
    margin-left: -17px;
    margin-top: 471px;
}

  
  .main-content .content .write-up p {
     
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;    
    color: rgba(0, 0, 0, 0.8);
    margin-top: 60px;
    margin-left: 16px;
  }
  .main-content .content .write-up .second {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;    
    color: rgba(0, 0, 0, 0.8);
    margin-top: 10px;
    margin-left: 16px;
  }
  

  .main-content .content .write-up .stat {
      display: flex;
      flex-direction: row;
      margin-top: -80px;
      
      
  }

  .main-content .content .write-up .stat .border {
    
  }
  .main-content .content .write-up .stat .stat-1 span, 
  .main-content .content .write-up .stat .stat-2 span,
  .main-content .content .write-up .stat .stat-3 span  {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: rgba(0, 0, 0, 0.5);
    
  }
  .main-content .content .write-up .stat .stat-1, 
  .main-content .content .write-up .stat .stat-2,
  .main-content .content .write-up .stat .stat-3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    
    color: rgba(0, 0, 0, 0.8);
    
  }
  .main-content .content .write-up .stat .stat-1 div {
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 40px;
  }
  .main-content .content .write-up .stat-1 {
   margin-right: 4px; 
  }
  
  .main-content .content .write-up .stat-2 {
    margin-left: -30px;
   }
   .main-content .content .write-up .stat-3 {
     margin-left: -45px;
    }
  .content .write-up p .by {
    color: rgba(0, 0, 0, 0.5);
    
  }
  .content .write-up p .dev {
      font-family: 'roboto';
      color: #26A69A;
      font-style: normal;
font-weight: normal;
  }
  .content .write-up div{
      padding: 0px;
      margin: 0px;
  }
  .vl {
    
    height: 0px;    
    border: 1px solid rgba(51, 51, 51, 0.2);
    border-radius: 10px;
    
  }
  /* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  /*End of modal styling */
  
   .card .card-1  .card-1-inner-2 .danger {
       background: #C90000; 
       width: 15px;
       height: 15px;
       color: #FFFFFF;
       border-radius: 50px;
       display: flex;
       justify-content: center;
       align-items: center;
       margin-top: 1px;
       margin-right: 35px;
       margin-left: -5px;

   }
   /*Styling for lower inner card */
   .card .card-1 .card-1-inner-2 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 212px;
    height: 218px;
    background: #FFFFFF;
    border: 1px solid rgba(144, 255, 76, 0.25);
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 10px;
   }
   .card .card-1 .card-1-inner-2 p {
    width: 192px;
    height: 165px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin-left: 9px;
    color: rgba(0, 0, 0, 0.8);
   }
   .card .card-1 .card-1-inner-2 div{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: rgba(0, 0, 0, 0.5);
    margin-left: 9px;
    margin-top: -35px;  
   }
   .card .card-1 .card-1-inner-2 .pen {
    width: 13px;
    height: 13px;
    margin-left: 10px;       
    cursor: pointer;
}
.card .card-1 .card-1-inner-2 div .cop {
 width: 13px;
 height: 13px;
 margin-left: 40px;    
 cursor: pointer;
 
}
.card .card-1 .card-1-inner-2 div .mov {
 width: 16px;
 height: 16px;
 margin-left: 15px; 
 cursor: pointer;
}

   /*Styling for second card */
   .card .card-2 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 232px;
    height: 1091px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    border-top: 10px solid #59BB1E;
    
    
}
.card .card-2 h4 {
    text-align: center;
    font-style: normal;
     font-weight: bold;
     font-size: 14px;
     line-height: 16px;
     color: #333333;
}
.card .card-2 .card-2-inner {
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 width: 212px;
 height: 170px;
 background: #FFFFFF;
 border: 1px solid rgba(144, 255, 76, 0.25);
 border-radius: 5px;
 margin-left: 10px;
}

.card .card-2 .card-2-inner p {
 font-style: normal;
 font-weight: normal;
 font-size: 14px;
 font-family: 'Roboto';
 line-height: 16px;
 margin-left: 9px;
 color: rgba(0, 0, 0, 0.8);
 width: 192px;
 height: 115px;
}
.card .card-2 .card-2-inner div{
 font-style: normal;
 font-weight: normal;
 font-size: 11px;
 line-height: 13px;
 color: rgba(0, 0, 0, 0.5);
 margin-left: 9px;
 margin-top: -14px;
}
.card .card-2 .card-2-inner .pen {
    width: 13px;
    height: 13px;
    margin-left: 10px;       
    cursor: pointer;
}
/*modal styling */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
}
.overlay .cancel {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: default;
  }
  
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }

  
  /*End of modal styling */
 .edit .edit-content {
    display: none;
}
.card .card-2 .card-2-inner div .cop {
 width: 13px;
 height: 13px;
 margin-left: 40px;    
 cursor: pointer;
}
.card .card-2 .card-2-inner div.click-up span {display: none; width: 40px; background:black; color: #FFFFFF; }
   .card .card-2 .card-2-inner div.click-up:hover span {display: block; }
.card .card-2 .card-2-inner div .mov {
 width: 16px;
 height: 16px;
 margin-left: 15px; 

}


.card .card-2 .card-2-inner-2 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 212px;
    height: 69px;
    background: #FFFFFF;
    border: 1px solid rgba(144, 255, 76, 0.25);
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 10px;
   }
   .card .card-2 .card-2-inner-2 p {
    font-style: normal;
    font-weight: normal;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 16px;
    margin-left: 9px;
    margin-top: 7px;
    color: rgba(0, 0, 0, 0.8);
   }
   .card .card-2 .card-2-inner-2 div {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: rgba(0, 0, 0, 0.5);
    margin-left: 9px;
    margin-top: 22px;   
   }
   .card .card-2 .card-2-inner-2 .pen {
    width: 13px;
    height: 13px;
    margin-left: 10px;
           
}
.card .card-2 .card-2-inner-2 div .cop {
 width: 13px;
 height: 13px;
 margin-left: 40px;    
 
}
.card .card-2 .card-2-inner-2 div .mov {
 width: 16px;
 height: 16px;
 margin-left: 15px; 

}


   .card .card-2 .card-2-inner-3 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 212px;
    height: 351px;
    background: #FFFFFF;
    border: 1px solid rgba(144, 255, 76, 0.25);
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 20px;
   }
   
   .card .card-2 .card-2-inner-3 p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin-left: 9px;
    color: rgba(0, 0, 0, 0.8);
    width: 192px;
    height: 115px;
   }
   .card .card-2 .card-2-inner-3 div{
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: rgba(0, 0, 0, 0.5);
    margin-left: 9px;
    margin-top: 35px;
   }
   .card .card-2 .card-2-inner-3 .pen {
    width: 13px;
    height: 13px;
    margin-left: 10px;       
}
.card .card-2 .card-2-inner-3 div .cop {
 width: 13px;
 height: 13px;
 margin-left: 40px;    
 
}
.card .card-2 .card-2-inner-3 div .mov {
 width: 16px;
 height: 16px;
 margin-left: 15px; 

}
   .card .card-2 .card-2-inner-4 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 212px;
    height: 351px;
    background: #FFFFFF;
    border: 1px solid rgba(144, 255, 76, 0.25);
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 20px;
   }
   
   .card .card-2 .card-2-inner-4 p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin-left: 9px;
    color: rgba(0, 0, 0, 0.8);
    width: 192px;
    height: 115px;
   }
   .card .card-2 .card-2-inner-4 div{
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: rgba(0, 0, 0, 0.5);
    margin-left: 9px;
    margin-top: 35px;
   }
   .card .card-2 .card-2-inner-4 .pen {
    width: 13px;
    height: 13px;
    margin-left: 10px;       
}
.card .card-2 .card-2-inner-4 div .cop {
 width: 13px;
 height: 13px;
 margin-left: 40px;    
 
}
.card .card-2 .card-2-inner-4 div .mov {
 width: 16px;
 height: 16px;
 margin-left: 15px; 

}
   
   
   /*Styling for third card */
   .card .card-3 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 232px;
    height: 228px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    border-top: 10px solid #59BB1E;
    margin-left: 21px;
    
}
.card .card-3 h4 {
    text-align: center;
    font-style: normal;
     font-weight: bold;
     font-size: 14px;
     line-height: 16px;
     color: #333333;
}
.card .card-3 .card-3-inner {
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 width: 212px;
 height: 138px;
 background: #FFFFFF;
 border: 1px solid rgba(144, 255, 76, 0.25);
 border-radius: 5px;
 margin-left: 10px;
}

.card .card-3 .card-3-inner p {
 font-style: normal;
 font-weight: normal;
 font-family: 'Roboto';
 font-size: 14px;
 line-height: 16px;
 margin-left: 9px;
 color: rgba(0, 0, 0, 0.8);
 width: 192px;
 
}
.card .card-3 .card-3-inner div{
 font-style: normal;
 font-weight: normal;
 font-size: 11px;
 line-height: 13px;
 color: rgba(0, 0, 0, 0.5);
 margin-left: 9px;
 margin-top: 48px;
}
.card .card-3 .card-3-inner .pen {
    width: 13px;
    height: 13px;
    margin-left: 10px;       
}
.card .card-3 .card-3-inner div .cop {
 width: 13px;
 height: 13px;
 margin-left: 40px;    
 
}
.card .card-3 .card-3-inner div .mov {
 width: 16px;
 height: 16px;
 margin-left: 15px; 

}
   
/*Styling for fourth card */
.card .card-4 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 232px;
    height: 576px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    border-top: 10px solid #59BB1E;
    margin-left: 21px;
}
.card .card-4 h4 {
    text-align: center;
    font-style: normal;
     font-weight: bold;
     font-size: 14px;
     line-height: 16px;
     color: #333333;
}
.card .card-4 div {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
    margin-left: 9px;
    margin-top: 20px;
    
}
.card .card-4 .card-4-inner {
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 width: 212px;
 height: 240px;
 background: #FFFFFF;
 border: 1px solid rgba(144, 255, 76, 0.25);
 border-radius: 5px;
 margin-left: 10px;
}
.card-4 .card-4-inner img{
    width: 192px;
    height: 96px;
    margin-top: 10px;
}
.card .card-4 .card-4-inner p {
 font-style: normal;
 font-weight: normal;
 font-size: 14px;
 line-height: 16px;
 margin-left: 9px;
 color: rgba(0, 0, 0, 0.8);
 width: 192px;
 height: 79px;
}
.card .card-4 .card-4-inner div{
 font-style: normal;
 font-weight: normal;
 font-size: 11px;
 line-height: 13px;
 color: rgba(0, 0, 0, 0.5);
 margin-left: 9px;
 margin-top: 110px;

}
.card .card-4 .card-4-inner .pen {
    width: 13px;
    height: 13px;
    margin-left: 10px;       
}
.card .card-4 .card-4-inner div .cop {
 width: 13px;
 height: 13px;
 margin-left: 40px;    
 
}
.card .card-4 .card-4-inner div .mov {
 width: 16px;
 height: 16px;
 margin-left: 15px; 

}
   
   
.card .card-4 .card-4-inner-2 {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 212px;
    height: 200px;
    background: #FFFFFF;
    border: 1px solid rgba(144, 255, 76, 0.25);
    border-radius: 5px;
    margin-left: 10px;
}
.card .card-4 .card-4-inner-2 p {
    width: 192px;
    height: 147px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin-left: 9px;
    color: rgba(0, 0, 0, 0.8);
}
.card .card-4 .card-4-inner-2 div {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: rgba(0, 0, 0, 0.5);
    margin-left: 9px;
    margin-top: -15px;
}
.card .card-4 .card-4-inner-2 .pen {
    width: 13px;
    height: 13px;
    margin-left: 10px;       
}
.card .card-4 .card-4-inner-2 div .cop {
 width: 13px;
 height: 13px;
 margin-left: 40px;    
 
}
.card .card-4 .card-4-inner-2 div .mov {
 width: 16px;
 height: 16px;
 margin-left: 15px; 

}

/*Styling for the right column/chatbox */
.right-body {
    width: 22%;
    height: 908px;
    background: #343434;
}
.right-body .first{
   text-align: center;
   font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    margin-top: 73px;
    color: rgba(255, 255, 255, 0.5);

}
.first-right {
    width: 280px;
    height: 107px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    border-radius: 10px;
    margin-left: 8px;
}
.first-right div span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #4DFFD4;
    
}
.first-right div {
    display: flex;
    flex-direction: row;
    margin-left: 7px;
    margin-top: 10px;
    margin-bottom: 10px;

}
.first-right p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin-top: -1px;
    color: #FFFFFF;
    margin-left: 10px;

}

.first-right span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.2);
    margin-left: 10px;
}

/*Second container */
.second-right {
    width: 280px;
    height: 127px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    border-radius: 10px;
    margin-left: 8px;
    margin-top: 20px;
}
.second-right div span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #FF4D6D;

    
}
.second-right div {
    display: flex;
    flex-direction: row;
    margin-left: 7px;
    margin-top: 9px;
    margin-bottom: 10px;

}
.second-right p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin-top: -1px;
    margin-left: 9px;
    color: #FFFFFF;

}
.second-right span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.2);
    margin-left: 10px;
}
.right-body .second {
    text-align: center;
   font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.5);

}
.right-body .third{
    text-align: center;
   font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.5);

}

/*third container */
.third-right {
    width: 280px;
    height: 173px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    border-radius: 10px;
    margin-left: 8px;
    margin-top: 20px;
}
.third-right div span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #59BB1E;
}
.third-right div {
    display: flex;
    flex-direction: row;
    margin-left: 7px;
    margin-top: 9px;
    margin-bottom: 10px;

}
.third-right p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin-top: -1px;
    margin-left: 9px;
    color: #FFFFFF;

}
.third-right span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.2);
    margin-left: 10px;
}
.third-body .second {
    text-align: center;
   font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.5);

}
/*Fourth container */
.fourth-right {
    width: 280px;
    height: 127px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    border-radius: 10px;
    margin-left: 8px;
    margin-top: 23px;
}
.fourth-right div span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #4DFFD4;


    
}
.fourth-right div {
    display: flex;
    flex-direction: row;
    margin-left: 7px;
    margin-top: 9px;
    margin-bottom: 10px;

}
.fourth-right p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin-top: -1px;
    margin-left: 9px;
    color: #FFFFFF;

}
.fourth-right span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.2);
    margin-left: 10px;
}

input[type=text] {
    width: 295px;
    height: 50px;
    background: rgba(255, 255, 255, 0.2);
    margin-top: 39px;
    border: none;
}
input[type=text]::-webkit-input-placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.5);
    padding-left: 10px;
}
