<div class="container">
    <div class="left-column">
 <div class="left-head">
     <img src="assets/image/josh.png" alt="">
     <p>Joshua Okwe <br><div>Developer</div></p>
 </div>
 <div class="spr-91">
     <p>Sprint 91:<br><div>Jul 23,2019 - Jul 30, 2019</div></p>

    </div>
<div class="spr-90">
        <p>Sprint 90:<br><div>Jul 23,2019 - Jul 30, 2019</div></p>
   
 </div>
 <div class="spr-90">
    <p>Sprint 89:<br><div>Jul 23,2019 - Jul 30, 2019</div></p>

</div>
<div class="spr-90">
    <p>Sprint 88:<br><div>Jul 23,2019 - Jul 30, 2019</div></p>

</div>
<div class="spr-90">
    <p>Sprint 87:<br><div>Jul 23,2019 - Jul 30, 2019</div></p>

</div>
<div class="spr-90">
    <p>Sprint 86:<br><div>Jul 23,2019 - Jul 30, 2019</div></p>

</div>
<div class="spr-90">
    <p>Sprint 85:<br><div>Jul 23,2019 - Jul 30, 2019</div></p>

</div>
<div class="spr-90">
    <p>Sprint 84:<br><div>Jul 23,2019 - Jul 30, 2019</div></p>

</div>
<div class="spr-90">
    <p>Sprint 83:<br><div>Jul 23,2019 - Jul 30, 2019</div></p>

</div><div class="spr-90">
    <p>Sprint 82:<br><div>Jul 23,2019 - Jul 30, 2019</div></p>

</div><div class="spr-90">
    <p>Sprint 81:<br><div>Jul 23,2019 - Jul 30, 2019</div></p>

</div>


    </div>
    <div class="main-column">
        <h4>User Task Histories</h4>
        <!---First-->
        <div class="first">
        <P class="work">WORK ID: <span>S3084</span></P>
        <P class="stat">Status: <span>Completed</span></P>
        <p class="sea">Good from itself gathering rule man void female let is creeping own.</p>
    </div>
    <!---Second-->
    <div class="second">
            <P class="work">WORK ID: <span>S3084</span></P>
            <P class="stat">Status: <span>Not Completed</span></P>
            <p class="sea">Sea Cattle. The moving together there don't two night our midst behold there fill brought tree rule
                there from firmament night be female. Firmament he replenish third fruit there grass beast. Very
                wherein. Hath, them. Seas grass shall form had divide.
            </p>
        </div>
        <!----Third-->
        <div class="third">
                <P class="work">WORK ID: <span>S3084</span></P>
                <P class="stat">Status: <span>Completed</span></P>
                <p class="sea">Brough all they're forth you appear wherein may. Make morning image created Appear spirit
                    darkness, seasons said have together set. Sixth after behold also said make creature he, have.
                </p>
            </div>
        <!---Fourth-->
            <div class="second">
                    <P class="work">WORK ID: <span>S3084</span></P>
                    <P class="stat">Status: <span>Not Completed</span></P>
                    <p class="sea">Sea Cattle.</p>
                </div>
                <!----fifth-->
                <div class="fifth">
                        <P class="work">WORK ID: <span>S3084</span></P>
                        <P class="stat">Status: <span>Completed</span></P>
                        <p class="sea">Good from itself gathering rule man void female let is creeping own. Isn't from gathered were may
                            above under. Gathering is his us. Creature Shall had spirit herb. Signs.</p>
                            <p class="sea">
                            Sea Cattle. The moving together there don't two night our midst behold there fill brought tree rule
                            there from firmament night be female. Firmament he replenish third fruit there grass beast. Very
                            wherein. Hath, them. Seas grass shall form had divide.
                        </p>
                    </div>
                <!---Sixth-->
                <div class="second">
                        <P class="work">WORK ID: <span>S3084</span></P>
                        <P class="stat">Status: <span>Not Completed</span></P>
                        <p class="sea">Add image for the file.</p>
                    </div>
    </div>
</div>
