<div class="container">
    <div class="main">
        <!---First developer-->
        <div class="first-main">
            <img src="assets/image/Azeem.png" alt="Azeem image"><p>Azeem Animashaun<br><span>2 hours | 9 Tasks</span></p>
       <div class="add"> <img src="assets/image/add-2.svg" alt="add"></div>
        <div class="brief"><img src="assets/image/brief-2.svg" alt="brief"></div>
        <div class="brief"><img src="assets/image/human-2.svg" alt="human"></div>
        <div class="brief"><img src="assets/image/arrow-up-2.svg" alt="arrow up"></div>        
        </div>
        <!---Second developer-->
        <div class="second-main">
                <img src="assets/image/louis.png" alt="Azeem image"><p>Louis E<br><span>2 hours | 9 Tasks</span></p>
           <div class="add"> <img src="assets/image/add-2.svg" alt="add"></div>
            <div class="brief"><img src="assets/image/brief-2.svg" alt="brief"></div>
            <div class="brief"><img src="assets/image/human-2.svg" alt="human"></div>
            <div class="brief"><img src="assets/image/arrow-up-2.svg" alt="arrow up"></div>        
            </div>
          <!---Third developer-->
        <div class="third-main">
                <img src="assets/image/louis.png" alt="Azeem image"><p>Louis E<br><span>2 hours | 9 Tasks</span></p>
           <div class="add"> <img src="assets/image/add-2.svg" alt="add"></div>
            <div class="brief"><img src="assets/image/brief-2.svg" alt="brief"></div>
            <div class="brief"><img src="assets/image/human-2.svg" alt="human"></div>
            <div class="brief"><img src="assets/image/arrow-up-2.svg" alt="arrow up"></div>        
            </div>
        <!---Fourth developer-->
        <div class="fourth-main">
                <img src="assets/image/louis.png" alt="Azeem image"><p>Louis E<br><span>2 hours | 9 Tasks</span></p>
           <div class="add"> <img src="assets/image/add-2.svg" alt="add"></div>
            <div class="brief"><img src="assets/image/brief-2.svg" alt="brief"></div>
            <div class="brief"><img src="assets/image/human-2.svg" alt="human"></div>
            <div class="brief"><img src="assets/image/arrow-up-2.svg" alt="arrow up"></div>        
            </div>
         <!---Fifth developer-->
        <div class="fifth-main">
                <img src="assets/image/louis.png" alt="Azeem image"><p>Louis E<br><span>2 hours | 9 Tasks</span></p>
           <div class="add"> <img src="assets/image/add-2.svg" alt="add"></div>
            <div class="brief"><img src="assets/image/brief-2.svg" alt="brief"></div>
            <div class="brief"><img src="assets/image/human-2.svg" alt="human"></div>
            <div class="brief"><img src="assets/image/arrow-up-2.svg" alt="arrow up"></div>        
            </div>
        <!---sixth developer-->
        <div class="sixth-main">
                <img src="assets/image/louis.png" alt="Azeem image"><p>Louis E<br><span>2 hours | 9 Tasks</span></p>
           <div class="add"> <img src="assets/image/add-2.svg" alt="add"></div>
            <div class="brief"><img src="assets/image/brief-2.svg" alt="brief"></div>
            <div class="brief"><img src="assets/image/human-2.svg" alt="human"></div>
            <div class="brief"><img src="assets/image/arrow-up-2.svg" alt="arrow up"></div>        
            </div>
        <!---seventh developer-->
        <div class="seventh-main">
                <img src="assets/image/louis.png" alt="Azeem image"><p>Louis E<br><span>2 hours | 9 Tasks</span></p>
           <div class="add"> <img src="assets/image/add-2.svg" alt="add"></div>
            <div class="brief"><img src="assets/image/brief-2.svg" alt="brief"></div>
            <div class="brief"><img src="assets/image/human-2.svg" alt="human"></div>
            <div class="brief"><img src="assets/image/arrow-up-2.svg" alt="arrow up"></div>        
            </div>
        <!---eight developer-->
        <div class="eight-main">
                <img src="assets/image/louis.png" alt="Azeem image"><p>Louis E<br><span>2 hours | 9 Tasks</span></p>
           <div class="add"> <img src="assets/image/add-2.svg" alt="add"></div>
            <div class="brief"><img src="assets/image/brief-2.svg" alt="brief"></div>
            <div class="brief"><img src="assets/image/human-2.svg" alt="human"></div>
            <div class="brief"><img src="assets/image/arrow-up-2.svg" alt="arrow up"></div>        
            </div>
         <!---ninth developer-->
        <div class="ninth-main">
                <img src="assets/image/josh.png" alt="Azeem image"><p>Joshua Okwe<br><span>2 hours | 9 Tasks</span></p>
           <div class="add"> <img src="assets/image/add-2.svg" alt="add"></div>
            <div class="brief"><img src="assets/image/brief-2.svg" alt="brief"></div>
            <div class="brief"><img src="assets/image/human-2.svg" alt="human"></div>
            <div class="brief"><img src="assets/image/arrow-up-2.svg" alt="arrow up"></div>        
            </div>
           
        
  
    </div>
    <div class="right">
        <div class="first"><img src="assets/image/josh.png" alt=""><span>Joshua Okwe</span></div><br>
        <div class="second"><img src="assets/image/Azeem.png" alt=""><span>Azeem Animashaun</span></div><br>
        <div class="third"><img src="assets/image/louis.png" alt=""><span>Louis E</span></div><br>
        <div class="fourth"><img src="assets/image/louis.png" alt=""><span>Louis E</span></div><br>
        <div class = "fifth"><img src="assets/image/louis.png" alt=""><span>Louis E</span></div><br>
        <div class="sixth" ><img src="assets/image/louis.png" alt=""><span>Louis E</span></div><br>
        <div class="seventh"><img src="assets/image/louis.png" alt=""><span>Louis E</span></div><br>
        <div class="eight"><img src="assets/image/louis.png" alt=""><span>Louis E</span></div><br>
        <div class="ninth"><img src="assets/image/louis.png" alt=""><span>Louis E</span></div><br>

    </div>
</div>
