<!--Navigation bar--->
<div class="body-1">
<header>
<div class="container">
    <!--The chatscrum logo at the left-->
    <div class="header-left">
        <img src="assets/image/chatscrumlogo.png" alt="ChatScrum logo">
    </div>
    <!--The login and signup link-->
    <div class="header-right">
        <li>LOGIN</li>
        <button>SIGN UP</button>
    </div>
</div>

</header>




<div class="container">
<h2>Sign up to ChatScrum</h2>
<!---The form fields-->
<form action="">
<label class="lab" for="Email">Email</label>
<input type="email" name="email" placeholder="joshuaokwe@gmail.com"><br>
<label class="lab" for="Password" >Password</label>
<input type="Password" name="Password" placeholder="choose a password ..."><br>
<label class="lab" for="Full Name">Full Name</label>
<input type="text" name="FullName" placeholder="enter your full name ..."><br>
<label class="lab" for="Account Type">Account Type</label>
<div class="acc-type"><span><button>User</button> </span> <span class="own">Owner</span></div>
<label class="lab" for="Project Name">Project Name</label>   
<input type="text" name="Project Name" placeholder="enter your project name ..."><br>
<input type="submit" value="SIGN UP">
</form>

<p class="instr">By creating an account, you agree to our <span>Terms of Service</span> and <span>Privacy Policy.</span></p>   
    
</div>


<footer>
<div class="container-2">
    <p class="chatscr">&copy;  Chatscrum 2019</p>
    <p class="supp">Terms of use</p>   
</div>
<!---Desktop screen-->
<div class="container-3">
    <p class="chatscr-3">&copy;  Chatscrum 2019</p>
    <p class="supp">Support<span>Terms of use</span></p>   
</div>
</footer>
</div>